In [1]:
import pandas as pd
import numpy as np
import datetime

In [24]:
dataFrame = pd.read_csv("GamesDataFrame.csv",header=0,sep=',',index_col=False)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (9,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

*Our pre clean and unhandled data set*

In [3]:
dataFrame.head()

,Index,Title,Release Date,Platform,MetaScore,NumberOfCritics,PositiveMetaScore,MixedMetaScore,NegativeMetaScore,UserScore,...,# Online Players,OnlineModes,OfflineModes,Resolution,SpecialControllers,Sound,Compatibility,Customization,SplitScreenOnlinePlayers,SplitScreenOfflinePlayers
0,1.0,The Legend of Zelda: Ocarina of Time,"November 23, 1998",Nintendo 64,99,22 Critic Reviews,22.0,0.0,0.0,9.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Tony Hawk's Pro Skater 2,"September 20, 2000",PlayStation,98,19 Critic Reviews,19.0,0.0,0.0,7.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,Grand Theft Auto IV,"April 29, 2008",PlayStation 3,98,64 Critic Reviews,64.0,0.0,0.0,7.8,...,NaN,Competitive Cooperative Team Oriented,NaN,1080i 1080p 720p Widescreen,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,SoulCalibur,"September 8, 1999",Dreamcast,98,24 Critic Reviews,24.0,0.0,0.0,8.5,...,NaN,NaN,NaN,480p,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,Grand Theft Auto IV,"April 29, 2008",Xbox 360,98,86 Critic Reviews,86.0,0.0,0.0,7.9,...,NaN,Competitive Cooperative Team Oriented,NaN,720p Widescreen,Headset,NaN,NaN,NaN,NaN,NaN

*Summary of our Data*
*Our information consists of 32 columns that  each column containing different information about the  game that has been reviewed and scored on the site.*

In [4]:
dataFrame.isna().sum()

Index                            0
Title                            0
Release Date                     0
Platform                         0
MetaScore                        0
NumberOfCritics                  3
PositiveMetaScore                3
MixedMetaScore                   3
NegativeMetaScore                3
UserScore                     1377
NumberOfUsers                 1377
PositiveUserScore             1377
MixedUserScore                1377
NegativeUserScore             1377
Awards                        4512
Rating                        2138
OfficialSite                 12990
Developer                       20
# Players                    11824
Genres                           0
ESRB Descriptors             11297
Connectivity                 17176
# Online Players             19186
OnlineModes                  17802
OfflineModes                 16760
Resolution                   17528
SpecialControllers           17793
Sound                        19186
Compatibility                19186
Customization                19186
SplitScreenOnlinePlayers     19168
SplitScreenOfflinePlayers    19066
dtype: int64

In [5]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19186 entries, 0 to 19185
Data columns (total 32 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Index                      19186 non-null  float64
 1   Title                      19186 non-null  object
 2   Release Date               19186 non-null  object
 3   Platform                   19186 non-null  object
 4   MetaScore                  19186 non-null  object
 5   NumberOfCritics            19183 non-null  object
 6   PositiveMetaScore          19183 non-null  float64
 7   MixedMetaScore             19183 non-null  float64
 8   NegativeMetaScore          19183 non-null  float64
 9   UserScore                  17809 non-null  object
 10  NumberOfUsers              17809 non-null  object
 11  PositiveUserScore          17809 non-null  object
 12  MixedUserScore             17809 non-null  object
 13  NegativeUserScore          17809 non-null  object
 14  Awards                     14674 non-null  object
 15  Rating                     17048 non-null  object
 16  OfficialSite               6196 non-null   object
 17  Developer                  19166 non-null  object
 18  # Players                  7362 non-null   object
 19  Genres                     19186 non-null  object
 20  ESRB Descriptors           7889 non-null   object
 21  Connectivity               2010 non-null   object
 22  # Online Players           0 non-null      float64
 23  OnlineModes                1384 non-null   object
 24  OfflineModes               2426 non-null   object
 25  Resolution                 1658 non-null   object
 26  SpecialControllers         1393 non-null   object
 27  Sound                      0 non-null      float64
 28  Compatibility              0 non-null      float64
 29  Customization              0 non-null      float64
 30  SplitScreenOnlinePlayers   18 non-null     object
 31  SplitScreenOfflinePlayers  120 non-null    object
dtypes: float64(8), object(24)
memory usage: 4.7+ MB

In [6]:
cleanDataFrame = dataFrame.copy()

# Handling And Cleaning Data Set

First of all we noticed that we have columns that we have no use and need for.
Therefore we  delete them.

In [7]:
#we have no use for those columns so we drop them
cleanDataFrame.drop('Index', 1, inplace=True)
cleanDataFrame.drop('ESRB Descriptors', 1, inplace=True)

## Missing Data

We saw after examining the data that we have a lot of missing values.
After an examination we found out that columns which have  over then 12000 missing values are columns that we have no use for anyway and do not contribute to our analysis.
As a conclusion , we decided drop them.
In addition, As shown below we have found out that we have features which have more than 50%  of missing values , Therefore we  decided to delete them.
 Moreover, they should be deleted and not to be handled with  because most of them are values which cannot be filled in informedly. for example **"SpecialControllers"** this column will be hard to fill, because it require  to search for each specific game and check whether it has SpecialControllers or not.

In [8]:
labels = cleanDataFrame.isna().sum().index.tolist()
data = cleanDataFrame.isna().sum().values.tolist()
result =  pd.DataFrame({"Attribute":labels,"Amount of nulls":data})
result['% of missing value'] =  (result['Amount of nulls'] /  cleanDataFrame.shape[0] ) * 100
result

                    Attribute  Amount of nulls  % of missing value
0                       Title                0            0.000000
1                Release Date                0            0.000000
2                    Platform                0            0.000000
3                   MetaScore                0            0.000000
4             NumberOfCritics                3            0.015636
5           PositiveMetaScore                3            0.015636
6              MixedMetaScore                3            0.015636
7           NegativeMetaScore                3            0.015636
8                   UserScore             1377            7.177108
9               NumberOfUsers             1377            7.177108
10          PositiveUserScore             1377            7.177108
11             MixedUserScore             1377            7.177108
12          NegativeUserScore             1377            7.177108
13                     Awards             4512           23.517148
14                     Rating             2138           11.143542
15               OfficialSite            12990           67.705619
16                  Developer               20            0.104243
17                  # Players            11824           61.628271
18                     Genres                0            0.000000
19               Connectivity            17176           89.523611
20           # Online Players            19186          100.000000
21                OnlineModes            17802           92.786407
22               OfflineModes            16760           87.355363
23                 Resolution            17528           91.358282
24         SpecialControllers            17793           92.739498
25                      Sound            19186          100.000000
26              Compatibility            19186          100.000000
27              Customization            19186          100.000000
28   SplitScreenOnlinePlayers            19168           99.906182
29  SplitScreenOfflinePlayers            19066           99.374544

In [9]:
#Droping all columns with more than 12000 missing values
cleanDataFrame.dropna(axis=1, how='all', thresh=12000, inplace=True)
cleanDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19186 entries, 0 to 19185
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              19186 non-null  object
 1   Release Date       19186 non-null  object
 2   Platform           19186 non-null  object
 3   MetaScore          19186 non-null  object
 4   NumberOfCritics    19183 non-null  object
 5   PositiveMetaScore  19183 non-null  float64
 6   MixedMetaScore     19183 non-null  float64
 7   NegativeMetaScore  19183 non-null  float64
 8   UserScore          17809 non-null  object
 9   NumberOfUsers      17809 non-null  object
 10  PositiveUserScore  17809 non-null  object
 11  MixedUserScore     17809 non-null  object
 12  NegativeUserScore  17809 non-null  object
 13  Awards             14674 non-null  object
 14  Rating             17048 non-null  object
 15  Developer          19166 non-null  object
 16  Genres             19186 non-null  object
dtypes: float64(3), object(14)
memory usage: 2.5+ MB

The date column appears in a format that is uncomfortable for us so we transform it to a more readable format

In [10]:

#Changing the format of dates in release date for more redability
cleanDataFrame['Release Date'] = pd.to_datetime(dataFrame['Release Date']).dt.strftime("%d/%m/%Y") 
cleanDataFrame['Release Date']

0        23/11/1998
1        20/09/2000
2        29/04/2008
3        08/09/1999
4        29/04/2008
            ...
19181    05/04/2017
19182    05/05/2009
19183    10/10/2007
19184    24/06/2013
19185    04/12/2012
Name: Release Date, Length: 19186, dtype: object

## Formattin and converting  Columns to Numeric 
Change numeric columns that contain string  to a different format by using regex
And Change columns that  supposed to be numerical but are not, to numeric columns

In [11]:
#Changing strings to "numeric strings"
cleanDataFrame['NumberOfCritics'].replace(to_replace= r'\D+',value='',regex=True,inplace=True)
cleanDataFrame['NumberOfUsers'].replace(to_replace= r'\D+',value='',regex=True,inplace=True)
cleanDataFrame['PositiveUserScore'].replace(to_replace= r'\D',value='',regex=True,inplace=True)
cleanDataFrame['NegativeUserScore'].replace(to_replace= r'\D',value='',regex=True,inplace=True)

In [12]:
#Converting object columns to numeric columns
cleanDataFrame["MetaScore"] = pd.to_numeric(cleanDataFrame["MetaScore"],errors='coerce')
cleanDataFrame["NumberOfCritics"] = pd.to_numeric(cleanDataFrame["NumberOfCritics"],errors='coerce')
cleanDataFrame["NumberOfUsers"] = pd.to_numeric(cleanDataFrame["NumberOfUsers"],errors='coerce')
cleanDataFrame["NegativeUserScore"] = pd.to_numeric(cleanDataFrame["NegativeUserScore"],errors='coerce')
cleanDataFrame["MixedUserScore"] = pd.to_numeric(cleanDataFrame["MixedUserScore"],errors='coerce')
cleanDataFrame["PositiveUserScore"] = pd.to_numeric(cleanDataFrame["PositiveUserScore"],errors='coerce')
cleanDataFrame["UserScore"] = pd.to_numeric(cleanDataFrame["UserScore"],errors='coerce')

cleanDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19186 entries, 0 to 19185
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              19186 non-null  object
 1   Release Date       19186 non-null  object
 2   Platform           19186 non-null  object
 3   MetaScore          19179 non-null  float64
 4   NumberOfCritics    19183 non-null  float64
 5   PositiveMetaScore  19183 non-null  float64
 6   MixedMetaScore     19183 non-null  float64
 7   NegativeMetaScore  19183 non-null  float64
 8   UserScore          17796 non-null  float64
 9   NumberOfUsers      17809 non-null  float64
 10  PositiveUserScore  17809 non-null  float64
 11  MixedUserScore     17795 non-null  float64
 12  NegativeUserScore  17809 non-null  float64
 13  Awards             14674 non-null  object
 14  Rating             17048 non-null  object
 15  Developer          19166 non-null  object
 16  Genres             19186 non-null  object
dtypes: float64(10), object(7)
memory usage: 2.5+ MB

### Dropping specific rows

##### We found  that there are rows that contain null values in cells where there should be important information such as MetaScore and Number Of Critics, so we decided to delete them  and not fill them because their number are small.
furthermore this rows can infect on our data analysis

<ul>for Example:<ul>
<li>MetaScore</li>
<li>NumberOfCritics</li>
<li>PositiveMetaScore</li>

if this containing missing values is not contribute  the analyzed, because if game hasn't Meta Score so he doesnt has a Review from a critic and in conclusion he has not  rank and doesn't relevant.

In [13]:
cleanDataFrame.isna().sum()

Title                   0
Release Date            0
Platform                0
MetaScore               7
NumberOfCritics         3
PositiveMetaScore       3
MixedMetaScore          3
NegativeMetaScore       3
UserScore            1390
NumberOfUsers        1377
PositiveUserScore    1377
MixedUserScore       1391
NegativeUserScore    1377
Awards               4512
Rating               2138
Developer              20
Genres                  0
dtype: int64

In [14]:
#Droping rows with missing specific value
cleanDataFrame.drop(cleanDataFrame[cleanDataFrame['MetaScore'].isna()].index, inplace = True)
cleanDataFrame.drop(cleanDataFrame[cleanDataFrame['NumberOfCritics'].isna()].index, inplace = True)
cleanDataFrame.drop(cleanDataFrame[cleanDataFrame['PositiveMetaScore'].isna()].index, inplace = True)
cleanDataFrame.drop(cleanDataFrame[cleanDataFrame['MixedMetaScore'].isna()].index, inplace = True)
cleanDataFrame.drop(cleanDataFrame[cleanDataFrame['NegativeMetaScore'].isna()].index, inplace = True)

In [15]:
cleanDataFrame.describe()

,MetaScore,NumberOfCritics,PositiveMetaScore,MixedMetaScore,NegativeMetaScore,UserScore,NumberOfUsers,PositiveUserScore,MixedUserScore,NegativeUserScore
count,19175.000000,19175.000000,19175.000000,19175.000000,19175.000000,17791.000000,17804.000000,17804.000000,17790.000000,17804.000000
mean,70.668370,23.019452,13.204850,8.265085,1.548631,6.986707,203.010896,134.511964,24.790725,43.924287
std,12.301318,17.325388,16.049654,7.535624,3.300897,1.356750,1415.877514,839.795898,66.462293,588.636769
min,11.000000,6.000000,0.000000,0.000000,0.000000,0.200000,4.000000,0.000000,0.000000,0.000000
25%,64.000000,10.000000,3.000000,3.000000,0.000000,6.300000,14.000000,8.000000,2.000000,3.000000
50%,72.000000,17.000000,7.000000,6.000000,0.000000,7.300000,34.000000,20.000000,6.000000,6.000000
75%,80.000000,30.000000,17.000000,11.000000,2.000000,8.000000,105.000000,67.000000,18.000000,17.000000
max,99.000000,126.000000,119.000000,65.000000,51.000000,9.700000,156877.000000,81624.000000,998.000000,67060.000000

## Filing Missing data
#### Filling missing values by column mean for numeric columns or by a predefine value for categorical columns

In [16]:

columnsToFill = ['NumberOfUsers', 'PositiveUserScore', 'MixedUserScore','NegativeUserScore']
for column in columnsToFill:
       cleanDataFrame[column].fillna(int(cleanDataFrame[column].mean()),inplace=True)
cleanDataFrame['UserScore'].fillna(float(str(cleanDataFrame['UserScore'].mean())[:3]),inplace=True)
cleanDataFrame['Rating'].fillna('Not-Rated',inplace=True)
cleanDataFrame['Developer'].fillna('Not-Specified',inplace=True)
cleanDataFrame['Awards'].fillna('No-Awards',inplace=True)

cleanDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19175 entries, 0 to 19185
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              19175 non-null  object
 1   Release Date       19175 non-null  object
 2   Platform           19175 non-null  object
 3   MetaScore          19175 non-null  float64
 4   NumberOfCritics    19175 non-null  float64
 5   PositiveMetaScore  19175 non-null  float64
 6   MixedMetaScore     19175 non-null  float64
 7   NegativeMetaScore  19175 non-null  float64
 8   UserScore          19175 non-null  float64
 9   NumberOfUsers      19175 non-null  float64
 10  PositiveUserScore  19175 non-null  float64
 11  MixedUserScore     19175 non-null  float64
 12  NegativeUserScore  19175 non-null  float64
 13  Awards             19175 non-null  object
 14  Rating             19175 non-null  object
 15  Developer          19175 non-null  object
 16  Genres             19175 non-null  object
dtypes: float64(10), object(7)
memory usage: 3.1+ MB

## Splitting  multi-values columns And Creating Indicators Columns for specific attribute

##   For Example:
<p> Awards Column contains in some rows more than one awards. from this rows we descided to split this data to 3 columns that will have only the first 3 awards for each game.<p>

Create  column which indicates if the game have won #1 award

In [17]:
#Adding FirstPlaceAward which indicates if the game have won #1 award
hasWonNumberOneInAnyAward = []
for value in cleanDataFrame['Awards']:
    if "#1" in value:
        hasWonNumberOneInAnyAward.append(1)
    else:
        hasWonNumberOneInAnyAward.append(0)
cleanDataFrame["FirstPlaceAward"] = hasWonNumberOneInAnyAward

In [18]:
#The awards column contains a up to 3 awards for each game , we want to split them into 3 diffrent new columns
firstAward = []
secondAward = []
thirdAward = []

for item in cleanDataFrame["Awards"]:
    lst = str(item).split('||')
    try:
        firstAward.append(lst[0])
    except:
        firstAward.append(np.nan)
    try:
        secondAward.append(lst[1])
    except:
        secondAward.append(np.nan)
    try:
        thirdAward.append(lst[2])
    except:
        thirdAward.append(np.nan)

cleanDataFrame["FirstAward"] = firstAward
cleanDataFrame["SecondAward"] = secondAward
cleanDataFrame["ThirdAward"] = thirdAward

cleanDataFrame.drop('Awards', 1, inplace=True)

### Release Season indicator

<li>1-Spring</li>
<li>2-Summer</li>
<li>3-Fall</li>
<li>4-Winter</li>

Adding ReleaseSeason column which indicates in which season the game was published

In [19]:
#1-Spring , #2-Summer , #3-Fall , #4-Winter
seasonsDict = {"1":["3","4","5"] , "2":["6","7","8"] , "3":["9","10","11"] , "4":["12","1","2"]}
gameSeasonList = []
for value in cleanDataFrame['Release Date']:
    dateValue = datetime.datetime.strptime(value, "%d/%m/%Y")
    for key,value in seasonsDict.items():
        if str(dateValue.month) in value:
            gameSeasonList.append(key)
cleanDataFrame["ReleaseSeason"] = gameSeasonList
cleanDataFrame["ReleaseSeason"] = pd.to_numeric(cleanDataFrame["ReleaseSeason"],errors='coerce')

 ## Separated Genres into Main Genre


The genres column contains multiple genres , we decided to extract the first genre and call it the MainGenre (our assumption was that the first genre is the main genre of the game) , this column will help us to check whether there is an impact of the game genre on reviews amount or rating score.

In [20]:
#Slicing the first genre in Genres and building a new column for it, we only keep the first one because it seems like the most "dominant genre" is first
mainGenre = []
for value in cleanDataFrame["Genres"]:
    mainGenreStr = value.split(",")[0]
    mainGenre.append(mainGenreStr)

cleanDataFrame["MainGenre"] = mainGenre

#Replacing genres which appears less the 200 times in the dataframe to "Other"
for key,value in cleanDataFrame["MainGenre"].value_counts().items():
    if value < 200:
        cleanDataFrame.loc[cleanDataFrame["MainGenre"] == key, "MainGenre"] = "Other"

In [21]:
newColumnOrder = ['Title','Release Date','ReleaseSeason','Platform','Developer','Genres','MainGenre','Rating',
'FirstAward','SecondAward','ThirdAward','FirstPlaceAward','MetaScore','NumberOfCritics','PositiveMetaScore'
,'MixedMetaScore','NegativeMetaScore','UserScore','NumberOfUsers','PositiveUserScore','MixedUserScore','NegativeUserScore']

#Changing the order of columns in the dataframe
cleanDataFrame = cleanDataFrame.reindex(columns=newColumnOrder)
cleanDataFrame.head()

,Title,Release Date,ReleaseSeason,Platform,Developer,Genres,MainGenre,Rating,FirstAward,SecondAward,...,MetaScore,NumberOfCritics,PositiveMetaScore,MixedMetaScore,NegativeMetaScore,UserScore,NumberOfUsers,PositiveUserScore,MixedUserScore,NegativeUserScore
0,The Legend of Zelda: Ocarina of Time,23/11/1998,3,Nintendo 64,Nintendo,"ActionAdventure,Fantasy",ActionAdventure,E,#1 Best N64 Game of 1998,#1 Most Discussed N64 Game of 1998,...,99.0,22.0,22.0,0.0,0.0,9.1,6664.0,5974.0,227.0,463.0
1,Tony Hawk's Pro Skater 2,20/09/2000,3,PlayStation,Neversoft Entertainment,"Sports,Alternative,Skateboarding",Sports,T,#1 Best PS1 Game of 2000,#4 Most Discussed PS1 Game of 2000,...,98.0,19.0,19.0,0.0,0.0,7.4,744.0,521.0,88.0,135.0
2,Grand Theft Auto IV,29/04/2008,1,PlayStation 3,Rockstar North,"ActionAdventure,Modern,Modern,Open-World",ActionAdventure,M,#1 Best PS3 Game of 2008,#2 Most Discussed PS3 Game of 2008,...,98.0,64.0,64.0,0.0,0.0,7.8,4354.0,3059.0,710.0,585.0
3,SoulCalibur,08/09/1999,3,Dreamcast,Namco,"Action,Fighting,3D",Action,T,#1 Best Dreamcast Game of 1999,#1 Most Discussed Dreamcast Game of 1999,...,98.0,24.0,24.0,0.0,0.0,8.5,361.0,298.0,25.0,38.0
4,Grand Theft Auto IV,29/04/2008,1,Xbox 360,Rockstar North,"ActionAdventure,Modern,Modern,Open-World",ActionAdventure,M,#1 Best Xbox 360 Game of 2008,#1 Most Discussed Xbox 360 Game of 2008,...,98.0,86.0,86.0,0.0,0.0,7.9,3543.0,2564.0,536.0,443.0

In [22]:
cleanDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19175 entries, 0 to 19185
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              19175 non-null  object
 1   Release Date       19175 non-null  object
 2   ReleaseSeason      19175 non-null  int64
 3   Platform           19175 non-null  object
 4   Developer          19175 non-null  object
 5   Genres             19175 non-null  object
 6   MainGenre          19175 non-null  object
 7   Rating             19175 non-null  object
 8   FirstAward         19175 non-null  object
 9   SecondAward        10535 non-null  object
 10  ThirdAward         5832 non-null   object
 11  FirstPlaceAward    19175 non-null  int64
 12  MetaScore          19175 non-null  float64
 13  NumberOfCritics    19175 non-null  float64
 14  PositiveMetaScore  19175 non-null  float64
 15  MixedMetaScore     19175 non-null  float64
 16  NegativeMetaScore  19175 non-null  float64
 17  UserScore          19175 non-null  float64
 18  NumberOfUsers      19175 non-null  float64
 19  PositiveUserScore  19175 non-null  float64
 20  MixedUserScore     19175 non-null  float64
 21  NegativeUserScore  19175 non-null  float64
dtypes: float64(10), int64(2), object(10)
memory usage: 3.9+ MB

In [23]:
cleanDataFrame.to_csv("HandledData.csv",index=False)